<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="status">#</th>
                <th>Serviço</th>
                <th>Última checagem</th>
                <th>Mensagens</th>
            </tr>
            </thead>
            <tbody>
            <tr class="active" data-service="frontend">
                <td class="status">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    <i class="glyphicon glyphicon-time"></i>
                    <i class="glyphicon glyphicon-ok"></i>
                </td>
                <td>Frontend</td>
                <td class="last-check"></td>
                <td class="messages"></td>
            </tr>
            <tr class="active" data-service="services">
                <td class="status">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    <i class="glyphicon glyphicon-time"></i>
                    <i class="glyphicon glyphicon-ok"></i>
                </td>
                <td>Services</td>
                <td class="last-check"></td>
                <td class="messages"></td>
            </tr>
            <tr class="active" data-service="solr">
                <td class="status">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    <i class="glyphicon glyphicon-time"></i>
                    <i class="glyphicon glyphicon-ok"></i>
                </td>
                <td>Solr</td>
                <td class="last-check"></td>
                <td class="messages"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>